<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/kavyashrees/Documents/GitHub/TestVagrant">
        <classes>
            <class name="org.example.LoopPlaylist">
                <methods><include name="verifyUserHasPlayed3Songs"/>
                    <include name="verifyPlaylistSequenceWhen_S4_S2_S1_PlayedOneAfterOther"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>